<div class="row footer" [ngClass]="!isMobile?'leftD':''">
  <div class="col-2 padding7">
    <span><mat-icon >align_vertical_bottom</mat-icon></span>
  </div>
  <div class="col-2 padding7">
    <span><mat-icon >calendar_today</mat-icon></span>
  </div>
  <div class="col-2 padding7" [ngClass]="(isHomeSelected==true)?'matIconSelected':''">
    <span><mat-icon >add_circle</mat-icon></span>
  </div>
  <div class="col-2 padding7">
    <span><mat-icon >notifications</mat-icon></span>
  </div>
  <div class="col-2 padding7">
    <span><mat-icon >settings</mat-icon></span>
  </div>
</div>