<div class="header-container">
    <div id="header-mobile">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col-2 backColor" [routerLink]="''">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </div>
                    <div class="col-10 headerAdd" [ngClass]="!isMobile?'padDesk':''">
                        <span>General Information</span>
                    </div>
                </div>
                <div class="row">
                    <hr class="hrLine">
                </div>
                <div class="overflow">
                    <div class="row homeCnt font700">
                        <span class="paddL20">How people may reach you?</span>
                    </div>
                    <div class="row homeCnt matRadio">
                        <mat-radio-group>
                            <mat-radio-button value="1" (change)="onReachOption($event)">In-Person</mat-radio-button><br>
                            <mat-radio-button value="2" class="disable" (change)="onReachOption($event)">Online (coming soon)</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="row">
                        <hr class="hrLine">
                    </div>
                    <div *ngIf="showApp">
                        <div class="row textCnt">
                            <span>Your services are presented locally. People will either come to your store or meet you in their own places.</span>
                        </div>
                        <div class="row homeCnt font700">
                            <span class="paddL20">How to make appointments with you?</span>
                        </div>
                        <div class="row homeCnt matRadio">
                            <mat-radio-group>
                                <mat-radio-button value="1" (change)="onAppointment($event)">Book a time</mat-radio-button><br>
                                <mat-radio-button value="2" (change)="onAppointment($event)">Drop in</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="row">
                            <hr class="hrLine">
                        </div>
                    </div>
                    <div *ngIf="bookApp">
                        <div class="row textCnt">
                            <span>No need for pre-registration, people can stop by your business at any of the available times.</span>
                        </div>
                        <div class="example-button-row nxtBtnDiv">
                            <button mat-raised-button color="accent" class="nxtBtn">Next</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>