<mat-card>
<form [formGroup]="regForm">
  <div class="row row-margin paddingRow">
    <div class="col-sm-4">
      <mat-label>First Name</mat-label>
      <input matInput class="my-form-field" autocomplete="off" formControlName="fname" required>
    </div>
    <div class="col-sm-4">
      <mat-label>Last Name</mat-label>
      <input matInput class="my-form-field" autocomplete="off" formControlName="lname" required>
    </div>
    <div class="col-sm-4">
      <mat-label>DOB</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="dob" class="my-form-field" required placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </div>
  </div>

  <div class="row row-margin ">
    <div class="col-sm-4 padding57">
      <mat-label class="cntText">Country</mat-label>
      <mat-select formControlName="country" >
        <mat-option *ngFor="let cnt of countryArr" [value]="cnt.value">
          {{cnt.label}}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-sm-4">
      <mat-label>Phone No</mat-label>
      <input matInput type="text" id="myNumber" formControlName="mobile" />
    </div>
  </div>
  <div class="row row-margin buttonRow">
    <button type="submit" mat-raised-button (click)="onSubmit()" *ngIf="showAddButton">Submit</button>
    <button type="submit" mat-raised-button (click)="onUpadte()"  *ngIf="showUpdateButton">Update</button>
    <button type="submit" mat-raised-button (click)="onReset()">Reset</button>
  </div>
  <div class="row row-margin" *ngIf="showTable">
    <table>
      <thead>
        <tr>
          <td>Name</td>
                    <td>Country</td>
                    <td>Mobile</td>

        </tr>
      </thead>
      <tbody>
    <tr *ngFor="let arr of clientList">
    <td>{{arr.first_name}} {{arr.last_name}}</td>
    <td>{{arr.country_id}}</td>
    <td>{{arr.phone_no}}</td>
    <td>
    <button type="submit" mat-raised-button (click)="onEdit(arr)">Edit</button>
    <button type="submit" mat-raised-button (click)="onDelete(arr.id)">Delete</button>

    </td>


    <!--<td>{{items[0].name}}</td>
    <td>{{items[0].desc}}</td>-->
    
</tr></tbody>
    </table>
  </div>
</form>
</mat-card>
