/* You can add global styles to this file, and also import other style files */
.matIcon{
margin: 8px 7px 0px 17px;
}
.icon{
        margin-left: -39px;
}
.iconLabel{
margin-top: -32px;
    margin-left: 52px;}
    .subicon{
        margin-left: 5px;
    margin-top: -22px;
    }
    .subiconLabel{
    margin-left: -52px;}
    

    /*Home*/
    .homeCnt{
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
}
.borderBottom{
        border-bottom: 1px solid #e8e8e8;

}
 .overflow{
        overflow: auto;
        height: 470px;
    padding-right: 22px;

}
.cnt{
    border-bottom: 1px solid #e8e8e8;
}
.paddingR{
        padding-right: 0px;
}
.alignL{            text-align: left;
    padding-left: 0px;
}
.subCat{
    margin-right: 1px;
    padding-left: 75px;
}
.padLIcon{
margin-top: -23px;
    margin-left: 80px;}
    .headerAdd{
    font-weight: bold;
    padding-right: 53px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    }
    .pad100{
            padding-right: 100px;
    }
    .hrLine{
    /*border: 1px solid #e8e8e8;*/
    width: 100%;
        margin: 3px;
   /* padding: 0px;
    margin: 0px;*/
    }
    .mat-radio-outer-circle{
        visibility: hidden;
    }
    .disable{
            color: gray;
    }
    .textCnt{
    color: gray;
    text-align: left;
    font-size: 18px;
    padding-left: 40px;
    padding-top: 5px;
    }
    .nxtBtn{
        color: white;
    background-color: #ec286b;
    width: 188px;
    }
    .nxtBtnDiv{
    padding: 18px;
    }
    .footer {
  position: fixed;
  /*padding-bottom: 15px;*/
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  justify-content: center;
      border-top: 1px solid #e8e8e8;
}
.paddL20{
        padding-left: 20px;
}
.backColor{
color:#a7a1a1;
}
.subCatColor{
        color: #484747;
    font-size: 15px;
}
.font700{
        font-weight: 700;
            color: #333d42;
                padding: 12px;
}
.borderBottom{
        border-bottom: 1px solid #e8e8e8;
}
.vAlign{
    vertical-align: top;
}
.matRadio{
        padding-left: 40px;
    padding-bottom: 5px;
}
.padDesk{
        padding-right: 20%;
}
.noRecord{
    border: 1px solid gray;
    text-align: center;
    margin: 0;
    justify-content: center;
    width: 96%;
    margin-left: 15px;
    padding: 3px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.paddingRow{
    padding-top: 10%;
}
.buttonRow{
        float: right;
}
.padding57{
    padding-left: 57px;
    padding-right: 57px;
}
.cntText{
        float: left;
    margin-bottom: -19px;
}

