<div class="header-container">
  <div id="header-mobile">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-2 backColor">
            <mat-icon>keyboard_backspace</mat-icon>
          </div>
          <div class="col-10 headerAdd pad100" [ngClass]="!isMobile?'padDesk':''">
            <span>Adding</span>
          </div>
        </div>
        <div class="row">
          <hr class="hrLine ">
        </div>
        <div class="overflow">
          <div class="row homeCnt font700">
            <span class="paddL20">Select your service category & profession</span>
          </div>
          <div class="row homeCnt noRecord" *ngIf="noData">
            <span class="paddL20">No Record Found</span>
          </div>
          <div class="row" *ngIf="!noData">
            <div class="col-12" *ngFor="let data of catDataArray ;let i=index">
              <div class="row homeCnt borderBottom" (click)="toggle(i)">
                <div class="col-1 ">
                  <span *ngIf="data.isCollapsed === 'true'">  <mat-icon >expand_more</mat-icon></span>
                  <span *ngIf="data.isCollapsed === 'false'"><mat-icon>keyboard_arrow_right</mat-icon></span>
                </div>
                <div class="col-4 ">
                  <span>{{data.title}}</span>
                </div>
              </div>
              <div class="row " *ngIf="data.isCollapsed === 'true'">
                <div class="col-12 cnt" *ngFor="let sub of data.subCategories ;let j=index">
                  <div class="row" [routerLink]="'/information'">
                    <div class="col-3">
                    </div>
                    <div class="col-7 alignL ">
                      <span class="vAlign">{{sub.title}}</span>
                      <span><mat-icon>keyboard_arrow_right</mat-icon></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>